<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Đăng Nhập</h3>
      <form>
        <div class="form-group">
          <label for="usn">Tên đăng nhập</label>
          <input
            type="text"
            name="usn"
            id="usn"
            class="form-control"
            placeholder="Hãy nhập tên đăng nhập"
            [(ngModel)]="userArr.usn"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <label for="psw">Mật khẩu</label>
          <input
            type="password"
            name="psw"
            id="psw"
            class="form-control"
            placeholder="Hãy nhập mật khẩu"
            [(ngModel)]="userArr.psw"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="login()">
            Đăng nhập
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
